<div class="container">
  <div class="sidebar">
    <div>
      <div>ikonka</div>
      <div>Wojciech Chmura</div>
    </div>
    <a href="/home">
      <div>ikonka</div>
      <div>Home</div>
    </a>
    <div>
      <div>ikonka</div>
      <div>About Me</div>
    </div>
    <div>
      <div>ikonka</div>
      <div>Resume</div>
    </div>
    <div>
      <div>ikonka</div>
      <div>Portfolio</div>
    </div>
    <div>
      <div>
        <div>ikonka</div>
        <div>Contact</div>
      </div>
    </div>
  </div>
  <div class="content">
    <!-- Add your main content here -->
    <ng-content></ng-content>
  </div>
</div>
