<div class="container">
  <div class="sidebar">
    <div>
      <div>ikonka</div>
      <div class="name">Wojciech Chmura</div>
    </div>
    <a [routerLink]="['/home']">
      <div>ikonka</div>
      <div>Home</div>
    </a>
    <a [routerLink]="['/about-me']">
      <div>ikonka</div>
      <div>About Me</div>
    </a>
    <a [routerLink]="['/resume']">
      <div>ikonka</div>
      <div>Resume</div>
    </a>
    <a [routerLink]="['/portfolio']">
      <div>ikonka</div>
      <div>Portfolio</div>
    </a>
    <div>
      <a [routerLink]="['/contact']">
        <div>ikonka</div>
        <div>Contact</div>
      </a>
    </div>
  </div>
  <div class="content">
    <!-- Add your main content here -->
    <ng-content></ng-content>
  </div>
</div>
